<footer class="mdl-mini-footer small-footer">
  <div class="mdl-mini-footer__left-section <%= "has-drawer" if should_render_drawer %>">
    <div class="mdl-logo">Pedro Adame - IES Trassierra &copy; 2016</div>
  </div>
  <div class="mdl-mini-footer__right-section">
    <%= render 'shared/lang_menu' %>
    <!--<div class="mdl-layout-spacer"></div>-->
  </div>
</footer>