<div class="mdl-mini-footer--link-list">
  <li>
    <%= link_to "Español", locale_path(locale: "es"), method: :post %>
  </li>
  <li>
    <%= link_to "English", locale_path(locale: "en"), method: :post %>
  </li>
</div>
