<table class="mdl-data-table mdl-js-data-table full-width links">
  <tbody>
  <% teachers.each do |r| %>
      <tr>
        <td><%= link_to r.name.mb_chars.upcase, teacher_schedule_path(id: r.id) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
