<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-offset mdl-cell--4-col mdl-cell--middle mdl-card
  mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
      <h2 class="mdl-card__title-text"><%= t('links.aulas_vacias') %></h2>
    </div>
    <% if @rooms.count == Room.all.count %>
        <div class="mdl-card__supporting-text">
          <h1>Todas las aulas estan libres</h1>
        </div>
    <% elsif @rooms.any? %>
        <table class="mdl-data-table mdl-js-data-table full-width links">
          <tbody>
          <% @rooms.each do |r| %>
              <tr>
                <td style="cursor: pointer"><%= link_to r.name.upcase, room_schedule_path(id: r.id) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>