.formulario {
  text-align: center;
}

.card-buttons {
  a, input {
    float: right;
    margin-right: 0.5em;
  }

  .clear {
    clear: both;
  }
}

.remember-me {
  text-align: left;
}

.search-form {
  background-color: white;
  padding: 10px;
  text-align: center;
}
