html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row;
  height: 100%;
  background-color: grey;
  aside {
    flex: 0 0 350px;
    background-color: red;
  }
  main {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    .s1{
      flex: 0 1 100px;
      background-color: #fff;
    }
    .s2{
      flex: 1 0 auto;
      background-color: #B00100;
    }
  }
}