@import 'material/color-definitions';

$color-primary: $palette-blue-600;
$color-primary-dark: $palette-blue-800;
$color-accent: $palette-orange-A700;
@import 'material';

#progress-bar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;

}

.alert {
  @extend .mdl-shadow--4dp;
  margin: 10px;
  padding: 1em;
  text-align: center;
}

.alert-error {
  @extend .alert;
  background-color: $palette-red-500;
}

.alert-success {

}

.formulario {
  text-align: center;
}

.card-buttons {
  a, input {
    float: right;
    margin-right: 0.5em;
  }

  .clear {
    clear: both;
  }
}

.remember-me {
  text-align: left;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.enlace-menu {
  color: red;
  &:hover {
    background-color: black;
  }
  &.is-active {
    color: blue;
  }
}

.mdl-mini-footer--link-list li a.idioma-actual {
  color: darken(white, 15);
}

.mdl-mini-footer__left-section.has-drawer{
  padding-left: 250px;
}

.gravatar {
  border-radius: 100%;
  border: 3px solid white;
}

.demo-avatar-dropdown {
  margin-top: 2em;
}

.demo-drawer-header {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1.5em;
}

.ellipsizable {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table-content {
  text-align: center;
}