@import 'material/color-definitions';

$color-primary: $palette-blue-600;
$color-primary-dark: $palette-blue-800;
$color-accent: $palette-blue-A700;

@import 'material';
@import 'alert';
@import 'forms';
@import 'footer';
@import 'navigation';
@import 'progress_bar';
@import 'buttons';
@import 'content';