@import 'material/color-definitions';

$color-primary: $palette-blue-600;
$color-primary-dark: $palette-blue-800;
$color-accent: $palette-orange-A700;
@import 'material';

#progress-bar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;

}

.alert {
  @extend .mdl-shadow--4dp;
  margin: 10px;
  padding: 1em;
}

.alert-error {
  @extend .alert;
  background-color: $palette-red-500;
}

.alert-success {

}

.formulario {
  text-align: center;
}

.card-buttons {
  a, input {
    float: right;
    margin-right: 0.5em;
  }

  .clear {
    clear: both;
  }
}

.remember-me {
  text-align: left;
}

.enlace-menu {
  color: red;
  /*&:hover {
    background-color: black;
  }
  .is-active {
    color: blue;
  }*/
}