<header class="mdl-layout__header">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row"><div class="mdl-layout-spacer"></div>
    <span class="mdl-layout__title">Horarios Trassierra</span><div class="mdl-layout-spacer"></div>
    <!--<div class="mdl-layout-spacer"></div>
    -->
  </div>
  <!--<div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>
    <span class="mdl-layout__title">Horarios Trassierra</span>
    <div class="mdl-layout-spacer"></div>
  </div>-->
</header>